body {
    background: url('./background.png');
    min-width: 800px;
    width: 90%;
    margin: 50px auto;
    font-size: 20px;
}

@font-face {
    font-family: picesOfEight;
    src: url('./PiecesOfEight.ttf');
}

#title {
    font-family: picesOfEight;
    text-align: center;
    font-size: 80px;
}

#desc {
    text-align: center;
}

code {
    padding: 20px !important;
}

code input, code textarea {
    border: none;
    font-size: 20px;
    font-family: monospace;
    color: #282c34;
    background: #abb2bf;
    padding: 0 5px;
}

code textarea {
    height: 140px;
    width: 500px;
}

input.small{
    width: 50px;
}

input.big{
    width: 400px;
}

pre{
    margin: 0;
}

.block{
    margin: 50px 0;
}

.block-title{
    padding: 20px;
    background-color: #aaaaaa;
    font-family: monospace;
    font-weight: bold;
}

.block-info{
    padding: 20px;
    background-color: #aaaaaa;
    font-family: monospace;
}

.block-error:before{
    content: 'Error:';
    display: block;
    font-size: 0.8em;
    color: rgba(255,0,0,0.5);
    margin: -10px 0px 10px 0px;
}

.block-error{
    display: none;
    background: rgb(238, 215, 215);
    color: red;
    padding: 20px;
    font-family: monospace;
}

.block-result:before{
    content: 'Result:';
    display: block;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    margin: -10px 0px 10px 0px;
}

.block-result{
    padding: 20px;
    background-color: #aaaaaa;
    font-family: monospace;
}

#factory-selector{
    margin-bottom: 30px;
}

#factory-selector label{
    display: block;
}

.not-valid{
    color: rgba(0,0,0,0.5);
}